<% friends_filter_array = [] %>

<% if @friends_name.first && @friends_age.first %>
  <% @friends_age.each do |friend| %>
    <% if friend.name == @friends_name.first.name %>
      <%= friend.name %>
    <% end %>
  <% end %>
  <% @friends_name.each do |friend| %>
    <% if friend.age == @friends_age.first.age %>
      <%= friend.age %>
    <% end %>
  <% end %>
<% elsif @friends_name.first.nil? %>
  <% @friends_age.each do |friend| %>
    <%= friend.name %> <%= friend.age %>
  <% end %>
<% elsif @friends_age.first.nil? %>
  <% @friends_name.each do |friend| %>
    <%= friend.name %> <%= friend.age %>
  <% end %>
<% else %>
  <p>Something went horribly wrong!</p>
<% end %>

