<%= form_tag @game, method: :get do %>
  <%= number_field_tag :player_count, params[:player_count], class: "form-control margin-down",placeholder: "How many players?"
    %>
  <%= select_tag :duration, "<option>Quick (1-15min)</option><option>Short (15-40min)</option><option>Average (40-90min)</option><option>Long (90+min)</option>".html_safe, prompt: "How long should the game be?", class: "form-control margin-down" %>
  <%= number_field_tag :box_size, params[:box_size], class: "form-control margin-down",placeholder: "How big should the box be (if youre a weirdo and care about this stuff)"
    %>
  <%= select_tag :genre, "<option>Party</option><option>Resource</option><option>Strategy</option><option>Trivia</option><option>Co-op</option><option>Dexterity</option><option>Classic</option><option>Puzzle</option><option>Luck</option><option>Bluff</option><option>Collection</option>".html_safe, class: "form-control margin-down", prompt: "Pick a genre" %>
  <%= select_tag :card_or_board, "<option>Board</option><option>Card</option>".html_safe, class: "form-control margin-down", prompt: "Board or Card game?" %>
  <%= submit_tag "Find a Game!", class: "btn btn-primary" %>
<% end %>
