<div class="body-container-index">
  <div class="index-container">
    <div class="games-title">
      <h2 class= "new-font">Your desired games</h2>
    </div>

    <div class="back-container">
      <%= link_to 'Go Back', root_path, class: 'btn btn-primary back' %>
    </div>
    <div class="container">
      <div class="row">
        <% @games.each do |game| %>
        <div class="col-sm-12 col-md-6">
          <div class="games-container-card">
            <div class="games-image-card">
              <%= image_tag("#{game.image}", size: "300x200", alt: "Edit Entry") %>
            </div>
            <div class="card-description">
              <div>
                <h4 class= "new-font"><%= game.name %></h4>
                <p>Players: <%= game.player_count[0] %>-<%= game.player_count.split[-1] %></p>
                <p>Duration: <%= game.duration %></p>
                <p>Genres: <%= game.genre %></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
